{% load static %}
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
    </head>
<body>
    <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
        <h1><p style="color:rgb(244, 250, 247);font-size:50px;font-family:'Ubuntu-Bold'">Welcome To Crime Record Management System</p></h1><br>
          
        <h2><p style="color:rgb(244, 250, 247);font-size:50px;font-family:'Ubuntu-Bold'">For Login: <u><a href="login" style="color:rgba(220, 223, 16, 0.945);font-size:50px;font-family:'Ubuntu-Bold'">Login</a></u></p></h2>
    </div>

</body>
</html>